name: create changeset for PR created by Renovate

on:
  pull_request:
    branches:
      - main

jobs:
  default:
    runs-on: ubuntu-latest
    # commit author should be renovate[bot]
    if: startsWith(github.head_ref, 'renovate/')
    steps:
      - uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: ./.github/actions/setup
        with:
          token: ${{ steps.app-token.outputs.token }}
          bot-app-slug: ${{ steps.app-token.outputs.app-slug }}

      - run: pnpm install
      - run: pnpm run build
      - uses: ./
        with:
          message: ${{ github.event_name == 'push' && github.event.head_commit.message}}
          github-token: ${{ steps.app-token.outputs.token }}
